/*
* Layouts Styles
*/
.intro-heading{
  text-align: center;
  height: 60px;
  background-color: #53CCC7;
  color: #FFF;
  *{
    font-size: 20px;
    font-weight: 400;
  }
  h1{
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .col-md-12,
  .row{
    height: inherit;
  }
}
.content-area{
  h2{
    width: 100%;
    display: table;
    padding: 25px 0 25px 20px;
    box-sizing: border-box;
    position: relative;
    &:before{
      content:'';
      width: 4px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -11px;
      background-color: #00b3ee;
    }
  }
  p{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}
h1{
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
h4,
h5,
h6{
  font-size: 14px;
}