/*
* Navigation Styles
*/
.navigation{
  width: 100%;
  display: table;
  box-sizing: border-box;
  ul{
    margin: 0;
    padding: 0;
    height: 60px;
    li{
      float: left;
      width: 25%;
      height: inherit;
      background: #FFF;
      line-height: 60px;
      text-align: center;
      font-size: 20px;
      cursor: pointer;
      position: relative;
      @include transition(.35s ease all);
      &:before{
        @include transition(.35s ease all);
      }
      &:hover{
        background-color: whitesmoke;
        &:before{
          color: #1b1e21;
        }
      }
      a{
        display: table;
        width: 100%;
        height: inherit;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
      }
      &.active{
        &:before{
          color: #53CCC7;
        }
      }
    }
  }
}